<odoo>
     <!-- Top menu item -->

     <menuitem id="cc_menu_root" name="Conteo Fisico Inventarios">
        <menuitem id="cc_first_menu" name="Conteos" sequence="1">
            <menuitem id="cc_first_menu_list" action="cyclic_count_action" name="Lista de Conteos"/>

        </menuitem>

        <menuitem  id="cc_second_menu" name="Compañías" sequence="2">
            <menuitem id="cc_second_menu_company_list" action="company_action" name="Compañías"/>
            <menuitem id="cc_second_menu_wh_list" action="warehouse_action" name="Bodegas"/>
            <menuitem id="cc_second_menu_product_list" action="product_action" name="Productos"/>
        </menuitem> 
        
        <menuitem id="cc_third_menu" name="Categorías" sequence="3">
            <menuitem id="cc_third_menu_prod_cat_list" action="product_category_action" name="De Productos"/>
            <menuitem id="cc_third_menu_wh_cat_list" action="warehouse_type_action" name="De Bodega"/>
            <menuitem id="cc_third_menu_whsub_cat_list" action="subdivision_type_action" name="De Subdivisiones"/>

        </menuitem> 
    </menuitem>
    

     <!-- menu categories -->
 
    
     <!-- actions -->
 
     
</odoo>